div.mover {
  background-color: aliceblue;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
}

img.inRow {
  margin: 10px;
  width: 40%;
  vertical-align: middle;
}

div.normal {
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
}
